<!DOCTYPE html>
<html>
	<head>
		<title>Edit User {{ id }}</title>
	</head>
	<body>
		<h1>Edit user {{ id }}</h1>
		<form action="/users/{{ id }}/processchanges" method="post">
		{% csrf_token %}
			<p>First Name:</p>
			<input type="text" name="first_name" value="{{ first_name }}" style="width: 200px;">
			<p>Last Name:</p>
			<input type="text" name="last_name" value="{{ last_name }}" style="width: 200px;">
			<p>Email:</p>
			<input type="text" name="email" value="{{ email }}" style="width: 200px;">
			<input type="submit" name="update" value="Update" style="display: block; margin-top: 12px;">
		</form>
		<br>
		<a href="/">Go Back</a>
	</body>
</html>