<!DOCTYPE html>
<html>
	<head>
		<title>New User</title>
	</head>
	<body>
		<h1>Add a new user</h1>
		<form action="/users/create" method="post">
		{% csrf_token %}
			<p>First Name:</p>
			<input type="text" name="first_name" style="width: 200px;">
			<p>Last Name:</p>
			<input type="text" name="last_name" style="width: 200px;">
			<p>Email:</p>
			<input type="text" name="email" style="width: 200px;">
			<input type="submit" name="create" value="Create">
		</form>
		<a href="/">Go Back</a>
	</body>
</html>